<link type="text/css" href="{{ 'halloween-offer.css' | asset_url }}" rel="stylesheet">
<script src="{{ 'halloween-offer.js' | asset_url }}"></script>
<div class="container mt-5">
  <h1 class="text-center">{{ page.title }}</h1>
  <div class="d-flex">
    <div id="trick" class="btn buttons">Trick</div>
    <p>or</p>
    <div id="treat" class="btn buttons">Treat</div>
  </div>
  <p class="text-center" id="answerText"></p>
</div>
