{{ 'sustainability.css' | asset_url | stylesheet_tag }}
<div class="mt-3">
  <div class="row justify-content-center">
    <div class="sustainabilityTitle">
      <h1>Our Sustainability Promise!</h1>
      <img src="{{ 'GF_SUSTAINABILITY-TITLE HEADER.png' | asset_url }}">
    </div>
  </div>

  <div class="top-content GreenColor paddingAll text-center fontWeight500">
    <p>
      It is important to us that the lovely things we make, and the way we make them, <br>
      have as little negative impact on people and the planet as possible. And we know this is important to you too.
    </p>
    <p>We're happy to assure you that, for all new Ginger Fox products we're committing to:</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 pr-5 justify-content-end ">
      <div class="roundRight centreTextInDiv">
        <img
          class="imageLeft"
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 1.png"
          alt="Bag Header icon with Forbidden sign Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColorSectionTitles paddingLeft fontWeight500 centreTextInDiv">Reduce single-use plastics</p>
      </div>

      <div class="mt-5 mb-5">
        <p class="paddingLeft GreenColor">
          We're removing all plastic wraps, bands, shrink-wrap&nbsp;and&nbsp;ties&nbsp;from our products and on-shelf
          packaging.
        </p>
        <p class="paddingLeft GreenColor">
          We're working on solutions to deliver single-use plastic free product and transit&nbsp;packaging.
        </p>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 pl-5 marginTop">
      <div class="roundLeft centreTextInDiv">
        <img
          class="imageRight"
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 2.png"
          alt="Open Cardboard Box Icon Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColorSectionTitles paddingRight fontWeight500 centreTextInDiv">
          Use only paper and card that is FSC® certified, or made from recycled materials
        </p>
      </div>
      <div class="mt-5 mb-5">
        <p class="paddingRight GreenColor">
          The Forest Stewardship Council® (FSC) is an international non-profit, multi-stakeholder organisation, which
          promotes responsible management of the world's forests.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 pr-5 justify-content-end">
      <div class="roundRight centreTextInDiv">
        <img
          class="imageLeft"
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 4.png"
          alt="Recycle Icon Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColorSectionTitles paddingLeft fontWeight500 centreTextInDiv">
          Ensure that all disposable packaging is recyclable
        </p>
      </div>

      <div class="mt-5 mb-5">
        <p class="paddingLeft GreenColor">
          We will not coat our card packaging with plastic laminate. We will avoid lamination altogether or use
          biodegradable lamination so that the card can be recycled.
        </p>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 pl-5 marginTop">
      <div class="roundLeft centreTextInDiv">
        <img
          class="imageRight"
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 3.png"
          alt="Drop of water Icon Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColorSectionTitles paddingRight fontWeight500 centreTextInDiv">
          Print all paper and card products and packaging with vegetable or water-based inks
        </p>
      </div>
      <div class="mt-5 mb-5">
        <p class="paddingRight GreenColor">
          We're still working on reducing the environmental impact of the inks we use to print on ceramic and tin.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 pr-5 justify-content-end">
        <div class="roundRight centreTextInDiv">
          <img
            class="imageLeft"
            src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 5.png"
            alt="Balance Header Icon Sustainability Image Ginger Fox Hub"
          >
          <p class="GreenColorSectionTitles paddingLeft fontWeight500 centreTextInDiv">
            Ensure that all our suppliers meet internationally recognised ethical standards
          </p>
        </div>

        <div class="mt-5 mb-5">
          <p class="paddingLeft GreenColor">
            We will continue to audit all our suppliers each year to ensure they meet the ethical standards set by the
            Ethical Trading Initiative (ETI).
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 pl-5 marginTop">
        <div class="roundLeft centreTextInDiv">
          <img
            class="imageRight"
            src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/HEADER 6.png"
            alt="Taskmaster OuterBox Picture Ginger Fox Hub"
          >
          <p class="GreenColorSectionTitles paddingRight fontWeight500 centreTextInDiv">
            Implement a program of activities at our head office in Cheltenham, Gloucestershire, to support our local
            environment and community
          </p>
        </div>
        <div class="mt-5 mb-5">
          <p class="paddingRight GreenColor">
            We will ensure that this becomes part of Ginger Fox culture at all levels.
          </p>
        </div>
      </div>
    </div>

    <div class="top-content GreenColor  text-center">
      <div class="short-border">&nbsp;</div>
      <p class="fontWeight500 GreenColor">
        It's a big challenge, and this is just the start of our journey towards becoming truly environmentally and
        socially sustainable.<br>
        There's always room for improvement, and we're working on it!
      </p>
      <div class="short-border">&nbsp;</div>
      <p class="fontWeight500 GreenColor">Our future sustainability goals include:</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6  col-lg-6 text-center">
        <img
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/GF_SUSTAINABILITY-ICON 2.png"
          alt="Open Cardboard Box Icon Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColor pt-3">Removing internal plastic storage trays from our products by September 2025</p>
      </div>
      <div class="col-sm-12 col-md-6  col-lg-6 text-center">
        <img
          src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Sustainability/GF_SUSTAINABILITY-ICON 3.png"
          alt="Tree Heart Icon Sustainability Image Ginger Fox Hub"
        >
        <p class="GreenColor pt-3">Using wood only from FSC certified sources by September 2025</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center  GreenColor fontWeight500 pt-3">
          Stay in touch with us on social media to see what other good things we're up to!
        </p>
      </div>
    </div>
    <p class="text-center GreenColor fontWeight500">Last Updated: 22/06/2023 14:28</p>
  </div>
</div>
