<link type="text/css" href="{{ 'trade-section.css' | asset_url }}" rel="stylesheet">
<div id="TricksOfTheTrade" class="TricksOfTradeContainer">
  <div class="TricksOfTradeTitleContainer">
    <img src="{{ 'BlueLinesLeft.svg' | asset_url }}" width="118" height="150">
    <h4>Tricks of the Trade</h4>
    <img src="{{ 'BlueLinesRight.svg' | asset_url }}" width="118" height="150">
  </div>
  <p>If you are a wholesale customer, please see our dedicated websites:</p>
  <div class="TradeButtonsContainer">
    <a class="TradeButton btn GingerfoxButton formRoundedTextbox" href="https://uktrade.gingerfox.co.uk"
      >Ginger Fox UK</a
    >
    <a class="TradeButton btn GingerfoxButton formRoundedTextbox" href="https://www.gingerfoxgames.com/"
      >Ginger Fox USA</a
    >
  </div>
</div>
